<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzl1tCDE6gJ4vQ1Y55ZTX4ScBQx4PI2ek</string>
	<key>GCM_SENDER_ID</key>
	<string>1009937502763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.abylkairkhan.movieTime</string>
	<key>PROJECT_ID</key>
	<string>flutter-learn-abyl</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-learn-abyl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009937502763:ios:1919e6d4a990511f47106e</string>
</dict>
</plist>